---
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/tattoos/*.{jpeg,jpg,png,gif}");
---

<div class="gallery-container">
  {
    Object.keys(images).map((image, index) => (
      <div>
        <Image src={images[image]()} alt="tattoo"/>
      </div>
    ))
  }
</div>
<style>
    .gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
    }
    .gallery-container img {
        width: 100%;
        height: auto;
    }
</style>
