---
import PaintingItem from "./PaintingItem.astro";

const R2 = Astro.locals.runtime.env.R2;

const paintings = await R2.list();
---

<div class="paintings">
  {
    paintings.objects.map((painting: any, i:number) => {
      return <PaintingItem rank={i} key={painting.key} />;
    })
  }
</div>

<style>
  .paintings {
    padding: 1rem;
  }
</style>
