---
import FloatingHead from "../components/FloatingHead.astro";
import PageHeading from "../components/PageHeading.astro";
import Layout from "../layouts/Layout.astro";
const aboutBlurb = `
Remi Frogo, is an LA-based artist working in the mediums of oil paint, graphite, and commercial digital design.  She completed her BFA at the University of Southern California.  

Presented in an environment of digitally-dominated distortion, Remi’s practice translates associated feelings of disconnection and manipulation, byproducts of existing as a modern individual in a heavily virtual world.  The works convey moments of visual processing, and use painting and other creative outlets to symbolize instances of introspection, either symbolically referencing digital spaces or portraying her personal experiences on a backdrop of an extremely contemporary world.  She will often provide her own body as the content of her pieces, further representing the self-ruminative nature of her ideas.  Each work presents a specific context of time, a physicality of memory.  `;
---

<Layout title="About Remi Frogo">
  <PageHeading>ABOUT</PageHeading>
  <div class="container">
    <p>
      {aboutBlurb}
    </p>
    <img src="/images/remis/face1.png" alt="Remi Frogo" />
  </div>
</Layout>
<style>
  .container {
    margin: 1rem;
  }
  h1 {
    padding-left: 1rem;
  }
  p {
    margin: auto;
    padding: 0rem 1rem;
    max-width: 786px;
    font-size: 1.5rem;
    margin-bottom: 60px;
  }
  img {
    display: block;
    margin: auto;
  }
</style>
