---
import config from "../lib/config";
import PageHeading from "../components/PageHeading.astro";
import InstagramIcon from "../components/icons/instagramIcon.astro";
import Layout from "../layouts/Layout.astro";
const aboutBlurb = [
  `Remi Frogo (b. 2001, Orange County, CA) is a University of Southern California graduate and an LA-based artist working in the mediums of oil paint, graphite, and commercial digital design. Presented in an environment of digital distortion, Frogo’s practice translates associated feelings of disconnection and misrepresentation, byproducts of existing in a heavily virtual world. Her work discusses meditative visual processing, and uses multimedia techniques to reference online spaces while portraying her personal relationship with the hyper contemporary world. She will often provide her own body as the content of her pieces, further representing the self-ruminative nature of her ideas. Each work presents a specific context of time, a physicality of memory.`,
  `Contact for purchases/commissions/inquiries.`,
  `Pricing for existing work available upon request.`,
];
if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const KV = Astro.locals.runtime.env.KV;
  await KV.put("about", data.get("about"));
}

const about = JSON.parse(await Astro.locals.runtime.env.KV.get("about"));
console.log(about);
---

<Layout title="About Remi Frogo" seo={{ title: "Remi Frogo | About" }}>
  <PageHeading>ABOUT</PageHeading>
  <div class="container">
    {about.map((blurb: string, index: number) => <div class="blurb-line text">{blurb}</div>)}
    <div class="blurb-line">
      <a href={config.remiInstagram}>
        <InstagramIcon className="inline-variant" />
        remifrogo
      </a>
    </div>
    <div class="blurb-line">
      <a class="" href={config.remboInstagram}>
        <InstagramIcon className="inline-variant" />
        remb0tron
      </a>
    </div>
    <img id="remi-face" src="/images/remis/face1.png" alt="Remi Frogo" />
  </div>
  <button class="hidden" id="update-about">Submit</button>
</Layout>
<script>
  let counter = 0;
  const updateAbout = document.getElementById("update-about") as HTMLButtonElement;

  const remiFace = document.getElementById("remi-face") as HTMLImageElement;
  remiFace.addEventListener("click", () => {
    counter++;
    if (counter > 5) {
      const about = document.querySelectorAll(".blurb-line.text") as NodeListOf<HTMLDivElement>;
      about.forEach((line) => {
        line.contentEditable = "true";
        line.style.border = "1px solid red";
        updateAbout.classList.remove("hidden");
      });
    }
  });

  updateAbout.addEventListener("click", async () => {
    const about = document.querySelectorAll(".blurb-line.text") as NodeListOf<HTMLDivElement>;
    const formData = new FormData();

    const blurbs: string[] = [];
    about.forEach((line) => {
      if (line.innerText.length > 0) blurbs.push(line.innerText);
    });
    formData.append("about", JSON.stringify(blurbs));
    const response = await fetch("/about", {
      method: "POST",
      body: formData,
    });
    if (response.ok) {
      alert("About updated");
    } else {
      alert("Error updating about");
    }
  });
</script>
<style>
  .container {
    margin: 1rem;
  }
  h1 {
    padding-left: 1rem;
  }
  textarea {
    display: block; /* Make it behave like a block-level element */
    width: 100%; /* Make it take up the full width of its parent */
    border: none; /* Remove the border */
    overflow: auto; /* Add scrollbars if the content overflows */
    outline: none; /* Remove the outline */
    resize: none; /* Prevent resizing */
    background-color: none;
  }
  .blurb-line {
    margin: auto;
    padding: 0rem 1rem;
    max-width: 786px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  p {
    margin: auto;
    padding: 0rem 1rem;
    max-width: 786px;
    font-size: 1.5rem;
    margin-bottom: 60px;
  }
  img {
    display: block;
    margin: auto;
  }
  .hidden {
    display: none;
  }
  #update-about {
    margin: auto;
    display: block;
    background: red;
    color: white;
    font-size: 2rem;
  }
  #update-about.hidden {
    display: none;
  }
</style>
