---
import config from "../lib/config";
import PageHeading from "../components/PageHeading.astro";
import InstagramIcon from "../components/icons/instagramIcon.astro";
import Layout from "../layouts/Layout.astro";
const aboutBlurb = [
  `Remi Frogo (b. 2001, Orange County, CA) is a University of Southern California graduate and an LA-based artist working in the mediums of oil paint, graphite, and commercial digital design. Presented in an environment of digital distortion, Frogo’s practice translates associated feelings of disconnection and misrepresentation, byproducts of existing in a heavily virtual world. Her work discusses meditative visual processing, and uses multimedia techniques to reference online spaces while portraying her personal relationship with the hyper contemporary world. She will often provide her own body as the content of her pieces, further representing the self-ruminative nature of her ideas. Each work presents a specific context of time, a physicality of memory.`,
  `Contact for purchases/commissions/inquiries.`,
  `Pricing for existing work available upon request.`,
];
---

<Layout title="About Remi Frogo" seo={{ title: "Remi Frogo | About" }}>
  <PageHeading>ABOUT</PageHeading>
  <div class="container">
    {aboutBlurb.map((blurb, index) => <div class="blurb-line">{blurb}</div>)}
    <div class="blurb-line">
    <a href={config.remiInstagram}>
      <InstagramIcon className="inline-variant" />
      remifrogo
    </a></div>
    <div class="blurb-line">
    <a class="" href={config.remboInstagram}>
      <InstagramIcon className="inline-variant" />
      remb0tron
    </a>
    </div>
    <img src="/images/remis/face1.png" alt="Remi Frogo" />

  </div>
</Layout>
<style>
  .container {
    margin: 1rem;
  }
  h1 {
    padding-left: 1rem;
  }
  div.blurb-line {
    margin: auto;
    padding: 0rem 1rem;
    max-width: 786px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  p {
    margin: auto;
    padding: 0rem 1rem;
    max-width: 786px;
    font-size: 1.5rem;
    margin-bottom: 60px;
  }
  img {
    display: block;
    margin: auto;
  }
  /* a {
    display: block;
    margin: auto;
    /* text-align: center; */
    font-size: 2rem;
  } */
</style>
