---
import { desc } from "astro:db";
import PageHeading from "../components/PageHeading.astro";
import Layout from "../layouts/Layout.astro";

const R2 = Astro.locals.runtime.env.R2;

if (Astro.request.method === "POST") {
  const form = await Astro.request.formData();
  const title = form.get("title") as string;
  const description = form.get("description");
  const material = form.get("material");
  const image = form.get("image") as File;

  const fileName = title.replace(/\s+/g, "-").toLowerCase();
  // const imageBuffer = await image.arrayBuffer();
  // const imageBase64 = Buffer.from(imageBuffer).toString("base64");
  // console.log(imageBase64);
  await R2.put(fileName, image, { contentType: image.type, customMetadata:{title, description, material}});
  console.log(fileName);

  return Astro.redirect("/admin");
  // const response = await fetch("/api/upload", {
  //   method: "POST",
  //   headers: {
  //     "Content-Type": "application/json",
  //   },
  //   body: JSON.stringify({
  //     title,
  //     description,
  //     material,
  //     image: imageBase64,
  //   }),
  // });

  // if (response.ok) {
  //   console.log("Uploaded successfully");
  // } else {
  //   console.error("Failed to upload");
  // }
}
const paintings = await R2.list();
---

<Layout title="admin">
  {JSON.stringify(paintings)}
  <PageHeading> Admin </PageHeading>
  <form method="POST" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required />

    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>

    <label for="material">Material:</label>
    <input type="text" id="material" name="material" required />

    <label for="image">Image:</label>
    <input type="file" id="image" name="image" accept="image/*" required />

    <button type="submit">Upload</button>
  </form>
</Layout>
