---
const EMAIL_SENDER_ADDRESS = process.env.EMAIL_SENDER_ADDRESS;
console.log(process.env)
console.log(import.meta.env)
console.log(Astro.locals.runtime)

---

<div>
    {EMAIL_SENDER_ADDRESS}
</div>