---
// import RemiFrogoLogo from "./RemiFrogoLogo.astro";
const { isTats } = Astro.props;
console.log(isTats)
let LogoComponent = null;
if (!isTats) {
  LogoComponent = (await import("./RemiFrogoLogo.astro")).default;
} else {
  LogoComponent = (await import("./RemboTronLogo.astro")).default;
}
---

<nav>
  <a href="/"> <LogoComponent /></a>
</nav>

<style>
  nav {
    box-sizing: border-box;
    height: 100px;
    padding: 20px;
  }
</style>
