---
// import RemiFrogoLogo from "./RemiFrogoLogo.astro";
const { isTats } = Astro.props;
let LogoComponent = null;
if (!isTats) {
  LogoComponent = (await import("./RemiFrogoLogo.astro")).default;
} else {
  LogoComponent = (await import("./RemboTronLogo.astro")).default;
}
---

<nav>
  <LogoComponent />
</nav>

<style>
  nav {
    height: 50px;
  }
</style>
