---

---

<h1>
  <slot />
</h1>

<style>
    h1 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
  @media screen and (min-width: 768px) {
    h1 {
      margin-left: 2rem;
    }
  }
</style>
